:root{
    --text-color:#996017;
}
*{
    padding: 0%;
    margin: 0%;
    overflow-x:hidden ;
    scroll-behavior: smooth;
  
}
body{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 15vh;
    /* background-color: rgba(255, 255, 255, 0.7); */
}
.navbar .logo{
    width: 20%;
    justify-content: left;
}
.navbar ul {
    list-style: none;
    display: flex;
    width: 80;
    margin-left: auto;
}
.navbar ul li{
    margin:auto 1.5em;
    padding:0;
}

.navbar ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 400;
}
.bg-img1{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-img2{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-img3{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/bg3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}.bg-img4{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/bg4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section{
    min-height: 100vh;
    background-color: white;
    color: #111;
    text-align: center;
    padding-top: 20vh;
    padding-left: 50px;
    padding-right: 50px;
}
.facilitycontainer{
    max-width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    justify-content: space-evenly;
    font-size: 1rem;
}
.facilitycontainer>.card{
    max-width: 30%;
    padding: 0px;
    max-height: 500px;
    transition: 1s ease;
}
.facilitycontainer>.card>.face1>img{
    height: 296px;
    width: 100%;
    margin-bottom: -4px;
    padding: 0px;
}
.facilitycontainer>.card>.face1{
    position: relative;
    padding: 0px;
    margin: 0px;
    transform: translateY(100px);
    z-index: 1;
}
.facilitycontainer>.card>.face2>h2{
    margin-top: 10px;
}
.facilitycontainer>.card>.face2>p{
    font-size: 16px;
    margin-top: 10px;
}
.facilitycontainer>.card>.face2{
    text-align: center;
    height: 200px;
    margin: 0rem;
    background-color: #fafafa;
    box-sizing: border-box;
    /* padding: 5px 10px; */
    transform: translateY(-100px);
}
.facilitycontainer>.card>.face1:hover{
    transform: translateY(0);
    transition: 1s ease;
}
.facilitycontainer>.card:hover>.face2{
    transform: translateY(0);
    transition: 1s ease;
    color: #996017;
}
#room{
    background-color: #fafafa;
}
.roomcontainer{
    max-width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    justify-content: space-around;
    font-size: 1rem;
    background-color: transparent;
}
.roomcontainer>.card{
    height: auto;
    margin: 20px; ;
    background-color: transparent;
}
.roomcontainer>.card:hover{
    background-color: #fff;
}
.roomcontainer>.card>.card-head{
    height: 200px;
    padding: 0px;
    margin: 0px;
}
.roomcontainer>.card>.card-head>img{
    height: 200px;
    margin: -4px;

    padding: 0rem;
}
.roomcontainer>.card>.card-body{
    height: auto;
    padding: 10px 4px;
}
.roomcontainer>.card>.card-body>p{
    font-size: 16px;
    margin: 20px 5px;
    font-weight: 400;
    color: #99AAAB;
    line-height: 20px;
}
.roomcontainer>.card>.card-footer{
    height: auto;
    padding: 20px;
    padding-bottom: 50px;
}
.roomcontainer>.card>.card-footer>h2{
    margin-top: 0px;
    margin-bottom: 40px;
}
.roomcontainer>.card>.card-footer>a{
    width: 80%;
    font-size: 20px;
    padding:10px 30px;
    background: #fff;
    text-decoration: none;
    color: #996017;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    border: 2px solid #996017;
    border-radius: 5px;
}
.roomcontainer>.card>.card-footer>a:hover{
    background-color: #45CE30;
    color: white;
    border:2px solid white;
    transition: .5s ease;
}
section h1{
    font-size: 3rem;
    color: var(--text-color);
    font-style: italic;
}
section h4{
    font-size: 1.5rem;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
section p{
    font-size: 1.5rem;
    margin-top: auto;
    font-family: monospace;
}
footer{
    height: auto;
    /* background-image: url(../img/footer2.jpg); */
    background-color: whitesmoke;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    background-color: #fafafa;

}
.grid-1{
    width: 40%;
    height: 100%;
    text-align: center;
    align-items: center;
    color:black;
    font-size: 1.2rem;
}
.bold{
    font-weight: bold;
}
.grid-2{
    box-sizing: border-box;
    width: 40%;
    display: flex;
    height: 100%;
    padding: 40px 20px;
}
.grid-2>ul{
    list-style: none;
    box-sizing: border-box;
}
.grid-2>ul>li{
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-top: 10px;
}
.grid-2>ul>li>a{
    margin-left: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: black;
    opacity: 1 !important;
}
.grid-2>ul>li>a:hover{
    color: blue;
}
.grid-3{
    width: 20%;
    height: 100%;
    justify-content: center;
}
.grid-3>.social-media{
    margin-left: 50%;
}
.grid-3>.social-media>ul{
    list-style: none;
}
.grid-3>.social-media>ul>li{
    padding: 10px;

}
.grid-3>.social-media>ul>li>a{
    text-decoration: none;
    font-size: 30px; 
    border-radius: 40%; 
    color: #fff;
}
.fa {
    padding: 5px 10px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
}
.fa:hover{
    opacity: .7;
    background-color: #111;
    color: #111;
}
.fa-facebook {
    background:linear-gradient(45deg,#3B5998,#55ACEE);
    color: white;
  }
  
  .fa-twitter {
    background:linear-gradient(45deg,#55ACEE,#fff);
    color: white;
  }
.fa-instagram{
    background: linear-gradient(45deg,#405DE6,#833AB4,#C13584,#FCAF45);
}
.fa-youtube{
    background: linear-gradient(45deg,#dd4b39,#bb0000);
}
